import React from "react";
import ReactDOM from "react-dom";
import siteData from "{{{ relativePathToRoot }}}site-data.json";
import PageComponent from "{{{ pageImportPath }}}";

const pagePath = "{{{ pagePath }}}";
const page = siteData.pages.find((page) => page.data.path === pagePath);

window.addEventListener("load", () => {
  ReactDOM.hydrate(
    <PageComponent pageData={page.data} siteData={siteData} />,
    document.getElementById("react-root")
  );
});
