
.floating-profile-picture {
  height: 470px;
  margin-left: -225px;
  left: 50%;
}

@screen sm {
  .floating-profile-picture {
    height: 500px;
    margin-left: -235px;
  }
}
@screen md {
  .floating-profile-picture {
    margin-left: -240px;
  }
}

@screen lg {
  .floating-profile-picture {
    height: 530px;
    margin-left: -190px;
  }
}

@screen xl {
  .floating-profile-picture {
    height: 660px;
    margin-left: -280px;
  }
}

@screen 2xl {
  .floating-profile-picture {
    margin-left: -80px;
    left: 13%
  }
}

.blob-mask {
  min-width: 370px;
  width: 370px;
  clip-path: url(#blob);
}

.profile-image-position {
  top: 40px;
  left: 35px;
  z-index: 100;
}

.animated-blob-container {
  top: -40px;
}

.floating-map-container, .floating-map-container-layer-1 {
  position: relative;
  top: 400px;
  left: 130px;
  width: 280px;
  height: 280px;
  border-radius: 20px;
  transform: rotateX(62deg) rotateZ(-30deg);
  overflow: hidden;
  transition: transform 0.6s ease;
}

.floating-profile-picture-hover-trigger:hover .floating-map-container {
  transform: rotateX(62deg) rotateZ(-30deg) translateZ(3px);
}

.map-location-line {
  @apply absolute;
  top: 220px;
  left: 250px;
  height: 300px;
  opacity: 0.3;
  width: 2px;
  /* dashed border with https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232b87a1' stroke-width='4' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  z-index: 10;
  transform: translate(3px, -15px);
}

.map-location-dot {
  @apply block absolute;
  top: 520px;
  left: 244px;
  width: 13px;
  height: 13px;
  background: #b5b5b5;
  opacity: 0.8;
  border-radius: 99px;
  content: "";
  transform: rotateX(62deg) rotateZ(-30deg) translate(1px, 2px);
  transition: background-color 0.6s ease, opacity 0.6s ease, transform 0.6s ease;
  z-index: 5;
}

.floating-profile-picture-hover-trigger:hover .map-location-dot {
  opacity: 0.4;
  background: #2b87a1;
  transform: rotateX(62deg) rotateZ(-30deg) translate(0, 0);
}

.map-location-line,
.floating-profile-picture-hover-trigger:hover .map-location-line {
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.floating-profile-picture-hover-trigger:hover .map-location-line {
  transform: translateY(0px);
  opacity: 0.5;
}

.floating-map-container-layer-1 {
  @apply absolute block;
  content: "";
  border-radius: 20px;
  background: #f1e3d9;
  transform: rotateX(62deg) rotateZ(-30deg) translate3d(0px, 0px, -15px);
}
.floating-profile-picture-hover-trigger:hover .floating-map-container-layer-1 {
  transform: rotateX(62deg) rotateZ(-30deg) translate3d(0px, 0px, -8px);
}

.floating-map-container .colorizer {
  @apply absolute w-full h-full;
  background: #56514c;
  mix-blend-mode: color;
  z-index: 10;
}

.floating-map-container img {
  max-width: initial; /* this needs to be overridden from tailwind defaults */
  height: auto;
  width: 1500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transform-origin: center;
}

.floating-map-container img,
.floating-profile-picture-hover-trigger:hover .floating-map-container img {
  transition: transform 0.6s ease;
}

.floating-profile-picture-hover-trigger:hover .floating-map-container img {
  transform: translate(-50%, -50%) scale(1);
}
