
.blob-mask {
  width: 370px;
  clip-path: url(#blob);
}

.profile-image-position {
  top: 40px;
  left: 35px;
  z-index: 100;
}

.animated-blob-container {
  top: -40px;
}

.floating-map-container, .floating-map-container-layer-1, .floating-map-container-layer-2 {
  position: relative;
  top: 400px;
  left: -20px;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  transform: rotateX(62deg) rotateZ(-30deg);
  overflow: hidden;
}

.map-location-line {
  @apply absolute;
  top: 280px;
  left: 250px;
  height: 300px;
  opacity: 0.3;
  width: 2px;
  /* dashed border with https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232b87a1' stroke-width='4' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  z-index: 10;
  transform: translate(3px, -15px);
}

.map-location-dot {
  @apply block absolute;
  top: 580px;
  left: 244px;
  width: 13px;
  height: 13px;
  background: #b5b5b5;
  opacity: 0.8;
  border-radius: 99px;
  content: "";
  transform: rotateX(62deg) rotateZ(-30deg) translate(2px, 4px);
  transition: background 0.6s ease, opacity 0.6s ease, transform 0.6s ease;
  z-index: 5;
}

.floating-profile-picture-hover-trigger:hover .map-location-dot {
  opacity: 0.4;
  background: #2b87a1;
  transform: rotateX(62deg) rotateZ(-30deg) translate(0, 0);
}

.map-location-line,
.floating-profile-picture-hover-trigger:hover .map-location-line {
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.floating-profile-picture-hover-trigger:hover .map-location-line {
  transform: translateY(0px);
  opacity: 0.5;
}

.floating-map-container-layer-1, .floating-map-container-layer-2 {
  @apply absolute block;
  content: "";
  border-radius: 20px;
}

.floating-map-container-layer-1,
.floating-map-container-layer-2,
.floating-profile-picture-hover-trigger:hover .floating-map-container-layer-1,
.floating-profile-picture-hover-trigger:hover .floating-map-container-layer-2 {
  transition: transform 0.6s ease;
}

.floating-map-container-layer-1 {
  background: #f1e3d9;
  transform: rotateX(62deg) rotateZ(-30deg) translate3d(0px, 0px, -25px);
}
.floating-profile-picture-hover-trigger:hover .floating-map-container-layer-1 {
  transform: rotateX(62deg) rotateZ(-30deg) translate3d(0px, 0px, -10px);
}

.floating-map-container-layer-2 {
  background: #e8d9ce;
  transform: rotateX(62deg) rotateZ(-30deg) translate3d(0px, 0px, -50px);
}
.floating-profile-picture-hover-trigger:hover .floating-map-container-layer-2 {
  transform: rotateX(62deg) rotateZ(-30deg) translate3d(0px, 0px, -20px);
}


.floating-map-container .colorizer {
  @apply absolute w-full h-full;
  background: #56514c;
  mix-blend-mode: color;
  z-index: 10;
}

.floating-map-container img {
  max-width: initial; /* this needs to be overridden from tailwind defaults */
  height: auto;
  width: 1500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transform-origin: center;
}

.floating-map-container img,
.floating-profile-picture-hover-trigger:hover .floating-map-container img {
  transition: transform 0.6s ease;
}

.floating-profile-picture-hover-trigger:hover .floating-map-container img {
  transform: translate(-50%, -50%) scale(1.3);
}
