/*
 * Use only when necessary, for example when a child or adjacent sibling selector
 * is needed.
 */

/* Top level lists */
.mdx :not(li) > ol,
.mdx :not(li) > ul,
/* For cases where ol and ul are direct children of .mdx element*/
.mdx:not(li) > ol,
.mdx:not(li) > ul {
  @apply mb-paragraph;
}

/* Sublists */
.mdx li > ol,
.mdx li > ul {
  @apply mt-1 mb-2;
}

/* Block of code */
.mdx pre > code {
  @apply py-3 px-3 mb-paragraph block overflow-auto rounded-md text-xs;
}

/* Inline code */
.mdx :not(pre) > code {
  @apply px-0.5 pb-0.5 pt-1 inline-block bg-gray-1 dark:bg-gray-7 rounded-sm;
  line-height: 1.15;
  font-size: 0.85rem;
}

/* Blockquote text */

.mdx blockquote > * {
  @apply m-0 p-0;
  color: currentColor;
}
