html {
  font-size: 18px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

/* The page layouting should cover the whitespace before the first header */
h1:first-child {
  @apply mt-0 !important;
}
